.header {
    width: 100vw;
    height: 100vh;
    background: url(assets/images/desktop/image-header.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header--div {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    background-color: transparent;
}

.header--div img {
    width: 160px;
}

h1 {
    display: flex;
    justify-content: center;
    letter-spacing: 5px;
    color: white;
    text-transform: uppercase;
    font-family: var(--Font-Fraunces);
    font-size: 50px;
    margin-top: 100px;
}

.arrow--down {
    position: absolute;
    top: 47%;
    left: 50%
}

nav {
    width: 100%;
}

nav > ul {
    display: flex;
    justify-content: end;
    list-style-type: none;
}

nav > ul > li {
    margin-right: 30px;
}

a {
    text-decoration: none;
    color: white;
    transition: all .5s;
}

a:hover {
    color: hsl(51, 100%, 49%);
}

.contact--btn {
    display: flex;
    margin-top: -10px;
    border-radius: 18px;
    padding: 12px 20px 12px 20px;
    font-size: 18px;
    border: none;
    font-family: var(--Font-Fraunces);
    color: black;
    background-color: white;
    transition: .5s;
}

.contact--btn:hover {
    background-color: hsla(211, 27%, 44%, 0.192);
    color: white;
}